# Q1.Create a numpy array of 5 zeros and check datatype,shape & size.

In [1]:
import numpy as np

In [2]:

f=np.zeros(5) 
print(f)
print('Datatype:',f.dtype)
print('Size:',f.size)
print('Shape:',f.shape)

[0. 0. 0. 0. 0.]
Datatype: float64
Size: 5
Shape: (5,)

# Q2.Create a numpy array of ones of shape (5,4)

In [3]:
import numpy as np
f=np.ones((5,4)) 
print(f)
print('Datatype:',f.dtype)
print('Size:',f.size)
print('Shape:',f.shape)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
Datatype: float64
Size: 20
Shape: (5, 4)

# Q3. Create a matrix of shape(4,5) with numbers from 1-20

In [4]:
import numpy as np
m=np.arange(1,21)
res=m.reshape(4,5)
print(res)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]

# Q4. Multiply all elements of above array by 10

In [5]:
multi=res*10
print(multi)

[[ 10  20  30  40  50]
 [ 60  70  80  90 100]
 [110 120 130 140 150]
 [160 170 180 190 200]]

# Q5. Print Odd elements from array

In [6]:
print(res) 
print() 
o=[a for a in np.nditer(res) if a%2 != 0]
print(o)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]

[array(1), array(3), array(5), array(7), array(9), array(11), array(13), array(15), array(17), array(19)]

In [7]:
print(res) 
print() 
is_odd=(res%2 !=0)
print(res[is_odd])

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]

[ 1  3  5  7  9 11 13 15 17 19]

# Q6. Replace all even elements by their negative

In [8]:
import numpy as np
a=np.array([2,8,3,4,6,7]) 
print(a)
even=(a%2==0)
print(-a[even])

[2 8 3 4 6 7]
[-2 -8 -4 -6]

In [9]:
import numpy as np
a=np.array([2,8,3,4,6,7]) 
print(a)
ar=[]
for i in np.nditer(a) :
    if (i%2 == 0):
        ar.append(-i)
    else:
        ar.append(+i)       
print(ar)

[2 8 3 4 6 7]
[-2, -8, 3, -4, -6, 7]

In [10]:
print(res)
print()
is_even=(res%2 == 0)
print(np.where(is_even,-res,res))

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]

[[  1  -2   3  -4   5]
 [ -6   7  -8   9 -10]
 [ 11 -12  13 -14  15]
 [-16  17 -18  19 -20]]

# Q7.Create a linearly spaced matrix M1 of size 4x4 having values in range 1-16

In [11]:
M1= np.linspace(1,16,16,dtype='int8')
M1.resize(4,4)
print(M1)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

# Q8.Creating transpose of M1 and call it M2

In [12]:
M2=M1.T
print(M2)

[[ 1  5  9 13]
 [ 2  6 10 14]
 [ 3  7 11 15]
 [ 4  8 12 16]]

# Q9.Finding M3 = M1 + M2

In [13]:
print(M1)
print()
print(M2)
print()
M3 = M1 + M2
print(M3)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

[[ 1  5  9 13]
 [ 2  6 10 14]
 [ 3  7 11 15]
 [ 4  8 12 16]]

[[ 2  7 12 17]
 [ 7 12 17 22]
 [12 17 22 27]
 [17 22 27 32]]

# Q10.Finding transpose of M3 and call it MT1 and check M3==MT1

In [14]:
print(M3)
print()
MT1=M3.T
print(MT1)
print(M3 == MT1)

[[ 2  7 12 17]
 [ 7 12 17 22]
 [12 17 22 27]
 [17 22 27 32]]

[[ 2  7 12 17]
 [ 7 12 17 22]
 [12 17 22 27]
 [17 22 27 32]]
[[ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]]

# Q11.Finding difference of M4 = M1 - M2

In [15]:
M4 = M1 - M2
print(M4)

[[ 0 -3 -6 -9]
 [ 3  0 -3 -6]
 [ 6  3  0 -3]
 [ 9  6  3  0]]

# Q12.Finding transpose of M4,call it MT2.Check if M4 == MT2 and M4 == -MT2

In [16]:
MT2 = M4.T
print(MT2)
print(M4==MT2)
print()
print(M4 == -MT2)

[[ 0  3  6  9]
 [-3  0  3  6]
 [-6 -3  0  3]
 [-9 -6 -3  0]]
[[ True False False False]
 [False  True False False]
 [False False  True False]
 [False False False  True]]

[[ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]]

# Q13. Creating a Matrix (3x4)R1 of random numbers between 10 - 40

In [17]:
R1=np.random.randint(10,40,12)
R1.resize(3,4)
print(R1)

[[27 33 13 14]
 [37 32 23 34]
 [29 22 21 23]]

# Q14.Replace all even elements with NaN in R1

In [18]:
print(R1)
is_even=(R1%2 == 0)
R1=np.where(is_even,np.NaN,R1)
print(R1)

[[27 33 13 14]
 [37 32 23 34]
 [29 22 21 23]]
[[27. 33. 13. nan]
 [37. nan 23. nan]
 [29. nan 21. 23.]]

# Q15.Count number of Nan in R1

In [19]:
print(R1)
Count_NaN=np.isnan(R1).sum()
print(Count_NaN)

[[27. 33. 13. nan]
 [37. nan 23. nan]
 [29. nan 21. 23.]]
4

# Q16.Check the outputs

In [20]:
a1= np.arange(1,10).reshape(3,3)
print(a1)
print()
a2=np.arange(11,20).reshape(3,3)
print(a2)
print()
a3=np.append(a1,a2)
print(a3)
print()
a3=np.append(a1,a2,axis=0)
print(a3)
print()
a3=np.append(a1,a2,axis=1)
print(a3)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

[[11 12 13]
 [14 15 16]
 [17 18 19]]

[ 1  2  3  4  5  6  7  8  9 11 12 13 14 15 16 17 18 19]

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [11 12 13]
 [14 15 16]
 [17 18 19]]

[[ 1  2  3 11 12 13]
 [ 4  5  6 14 15 16]
 [ 7  8  9 17 18 19]]