In [1]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}
 
# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}
emp_info={'Tom':{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'},
          'Kathy':{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}
print(emp_info['Tom'])
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [39]:
import pandas as pd
df=pd.DataFrame(emp_info)
print(df)
df.index

                           Tom                     Kathy
email  tom_latham019@gmail.com  kathy_abram897@gmail.com
Phone               1987654321                1887654321
City                California                  New York

Index(['email', 'Phone', 'City'], dtype='object')

In [4]:
# Create a dictionary out of below inputs
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']
#Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}
emp1_info={}
j=0
for i in emp_key: 
    emp1_info[i]=emp1_val[j]
    j+=1
print(emp1_info)
    
emp2_info={}
j=0
for i in emp_key: 
    emp2_info[i]=emp2_val[j]
    j+=1
print(emp2_info)    

emp3_info={}
j=0
for i in emp_key: 
    emp3_info[i]=emp3_val[j]
    j+=1
print(emp3_info)
values=[emp1_info,emp2_info,emp3_info]    
print()
emp={}
j=0
for i in lst1:
    emp[i]=values[j]
    j+=1
print(emp)

{'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}
{'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}
{'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [5]:
import pandas as pd
df=pd.DataFrame(emp)
df

           emp1    emp2    emp3
e_name     John   Smith   Peter
e_id      SG101   SG102   SG103
e_sal   $10,000  $9,000  $9,500

In [6]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [7]:
import pandas as pd
df=pd.DataFrame(sampleDict)
df

                                                     class
student  {'name': 'Mike', 'marks': {'physics': 70, 'his...

In [54]:
sampleDict['class']['student']['marks']['history']

80

In [9]:
# Initialize dictionary with default values. Inputs are:-
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

In [10]:
desig=dict.fromkeys(employees,defaults)
desig

{'Kelly': {'designation': 'Application Developer', 'salary': 8000},
 'Emma': {'designation': 'Application Developer', 'salary': 8000},
 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [11]:
import pandas as pd
df=pd.DataFrame(desig)
df

,Kelly,Emma,John
designation,Application Developer,Application Developer,Application Developer
salary,8000,8000,8000

In [12]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.
DNA  RNA  mRNA
A-----T-----U   DNA:ATG CCT
T-----A-----A   RNA:TAC GGA--now consider this as DNA aft conversion
C-----G-----G  mRNA:AUG CCU 
G-----C-----C

SyntaxError: invalid syntax (<ipython-input-12-618772c2fb87>, line 6)

In [17]:
Seq=input('Enter the sequence of the DNA strand:')  

def DNAfn():
    mRNA_out=''
    
    DNA_mapping={'A':'U','T':'A','C':'G','G':'C'}
    for i in Seq:  
         mRNA=DNA_mapping.get(i)  
         mRNA_out=mRNA_out+mRNA
    
    return (mRNA_out)

print(mRNA_out)

DNAfn()

Enter the sequence of the DNA strand:TGG

'ACC'

In [0]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [23]:
str='google.com'
lst=list(str)
print(lst)

count_let={}

def count_letter():
    
    for i in lst:
        count_let[i]=lst.count(i)
    return count_let

count_letter()
print()
print(count_let)

['g', 'o', 'o', 'g', 'l', 'e', '.', 'c', 'o', 'm']

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [33]:
import pandas as pd
#df=pd.DataFrame(data=count_let,columns=['col1'])
df=pd.Series(count_let)
print(df)
df.index

g    2
o    3
l    1
e    1
.    1
c    1
m    1
dtype: int64

Index(['g', 'o', 'l', 'e', '.', 'c', 'm'], dtype='object')

In [0]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

In [11]:
DNA_Strand='ATCG'
lst=list(DNA_Strand)
print(lst)
baseComposition={}
def DNA1():
    DNA_base="CTATCGGCACCCTTTCAGCA"
    for i in lst:
        baseComposition[i]=DNA_base.count(i)
    print(baseComposition)    
DNA1()    
def DNA2():
    DNA_base="AGT"
    for i in lst:
        baseComposition[i]=DNA_base.count(i)
    print(baseComposition)    
DNA2()

['A', 'T', 'C', 'G']
{'A': 4, 'T': 5, 'C': 8, 'G': 3}
{'A': 1, 'T': 1, 'C': 0, 'G': 1}

In [0]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.
######-----5

In [0]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above
#----2

In [5]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above
#----3

In [0]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

In [97]:
dictionary={'a':1, 'b':2, 'c':2}
Value=1
def reverseLookup(dictionary,Value):
    out=[]
    for key,value in dictionary.items():
        if value==Value:
            out.append(key)
        
            if Value not in dictionary.values():
                print([])
    print(out)
            
reverseLookup(dictionary,Value)

['a']

In [0]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3 ,'d':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

In [27]:
dict1={'a':1, 'b':2, 'c':3 ,'d':2}
dict2={'a':3, 'b':3, 'c':3}
dict3={'a':2, 'b':1, 'c':2, 'd':1}
dict_invert={}
'''choose the dictionary on which operation has to be performed'''
choose_dict=dict3
def invertDictionary(choose_dict):
    for key,value in choose_dict.items():
        dict_invert[value]=dict_invert.get(value,[])+[key]
    print(dict_invert)    
        
invertDictionary(choose_dict)

{2: ['a', 'c'], 1: ['b', 'd']}

In [30]:
df=pd.Series(dict_invert)
print(df)
df.shape

2    [a, c]
1    [b, d]
dtype: object

(2,)

In [0]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

In [1]:
vector1=[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
vector2=[1,0,1,0,2,0,1,0,0,1,0]
vector3=[0, 0, 0, 0, 0]
'''choose the vector on which operation has to be done'''
a=vector2
print(a)
convert={}

def ConvertVector(a):
    
    for k in a:
        print() 
        # i in len(a):
        if k!= 0:
            print(k) 
            x=a.index(k)
            print()
            convert[x]=k
            
            
            print() 
    print(convert)        
    
ConvertVector(a)

[1, 0, 1, 0, 2, 0, 1, 0, 0, 1, 0]

1

AttributeError: 'list' object has no attribute 'rindex'

In [0]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

In [20]:
# Given a Python dictionary, Change Brad’s salary to 8500
sampleDict = {
      'emp1': {'name': 'Jhon', 'salary': 7500},
      'emp2': {'name': 'Emma', 'salary': 8000},
      'emp3': {'name': 'Brad', 'salary': 6500}
 }
sampleDict['emp3']['salary']=8500
print(sampleDict)

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [15]:
# Get the key corresponding to the minimum value from the following dictionary
sampleDict = {
   'Physics': 82,
   'Math': 65,
   'history': 75
 }
import functools
lst=sampleDict.values()
print(lst)
min_value=functools.reduce(lambda x,y:x if x<y else y,lst)
print("MinValue=",min_value)
for subject,marks in sampleDict.items():
    if marks==min_value:
        print(subject)

#sampleDict[65].keys()
# Expected Output
# Math
#dir(sampleDict)

dict_values([82, 65, 75])
MinValue= 65
Math

In [38]:
# Rename key city to location in the following dictionary
sampleDict = {
   "name": "Kelly",
   "age":25,
   "salary": 8000,
   "city": "New york"
}
sampleDict["location"]=sampleDict.pop("city")
sampleDict
# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [124]:
# Check if a value 200 exists in a dictionary
sampleDict = {'a': 100, 'b': 200, 'c': 300}
print(200 in sampleDict.values())
# Expected Output: True

True

In [122]:
# Delete set of keys from Python Dictionary
sampleDict = {
   "name": "Kelly",
   "age":25,
   "salary": 8000,
   "city": "New york"
  }
# keysToRemove = ["name", "salary"]
del sampleDict["name"]
del sampleDict["salary"]
sampleDict

# Expected Output:
# {'city': 'New york', 'age': 25}

{'age': 25, 'city': 'New york'}